body {
  background: #fff;
  color: #000;
  font-family: sans-serif;
}

h1 {
  justify-content: center;
  margin: 10px auto;
  color: #fff;
  font-family: Helvetica;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://i.imgur.com/6epovYT.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 335px;
  background-position: center bottom;
}

#text {
  color: black;
}
